@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
    font-family: 'Ubuntu';
    background-color: black;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width:  450px;
    color: white;
}

.buttons{
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

.google-btn {
    background-color: #5194ee;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover{
    opacity: 0.6;
}

.google-btn picture{
    width: 35px;
    height: 35px;
    background-color: #5194ee;
    border-radius: 2 px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img{
    width: 75%;
}

.google-btn span{
    color:white;
    font-weight: 500;
    padding: 12px;
    background-color: #5194ee;
}

.twitter-btn {
    color: #ddd;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitter-btn:hover{
    background-color: #ddd;
}

.separater {
    display: flex;
    width: 100%;
    gap: 15px;
}

.separater hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid;
}

.separater span{
    color: #8b8b8b;
}

.section-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

label {
    width: 100%;
}

label span{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label input{
    width: 80%;
    background-color: #212121;
    border: none;
    padding: 10px 20 px;
    border-radius:  10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, box-shadow 0.2s;
}

label input:hover {
    background-color: #212121;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #454045;
}

label input:focus {
    background-color: #212121;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

.checkbox-label{
    display: flex;
    flex-direction: row;
}

.checkbox-label input{
    width: 20px;
}

.checkbox-label span {
    font-weight: 400;
}

.submit-btn {
    background-color: pink;
    color: #161717;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover{
    opacity:  0.6;
}